{% extends "rate/common/base.html" %}

{% block title %}Create New User{% endblock %}

{% block content %}
<div class="mx-auto col-10 col-md-8 col-lg-6">
<form method="POST">
    {% csrf_token %}
    {% if error == True %}
    <div class="alert alert-danger" role="alert">
        {{ error_message }}
    </div>
    {% endif %}
    <br/>
    <div class="form-group">
        <label>Email</label>
        <input type="email" name="user_name" class="form-control" required maxlength="60" value="{{ user_name }}">
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" id="password" name="password" class="form-control" required maxlength="20" aria-describedby="password_help">
        <small id="password_help" class="form-text text-muted">Min 8 characters containing upper case, lower case, number and special character</small>
    </div>
    <div class="form-group">
        <label>Retype Password</label>
        <input type="password" id="repassword" name="repassword" class="form-control" required maxlength="20"> 
    </div>
    <div class="form-group">
    <label>Instance Type *</label>
        <select name="user_type" class="form-select" required>
            <option value="ADMIN" {% if user_type == 'ADMIN' %}selected{% endif %}>Admin</option>
            <option value="USER" {% if user_type == 'USER' %}selected{% endif %}>User</option>
        </select>
    </div>
    <div class="form-group">
        <label>Group</label>
        <input type="text" name="group_name" class="form-control" maxlength="30" value="{{ group_name }}">
    </div>
    <div class="form-group">
        <label>Region</label>
        <input type="text" name="region" class="form-control" maxlength="30" value="{{ region }}">
    </div>
    <!-- <label>Sub-Group</label>
    <input type="text" name="sub_group" class="form-control" maxlength="30">
    <label>Tag</label>
    <input type="text" name="tag" class="form-control" maxlength="30"> -->
    <br/>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
<br/>

<p><a href="{% url 'manager-dashboard' request.session.customer_key%}">Return to Dashboard</a></p>
</div>
{% endblock %}

{% block header %}
    <p class="navbar-text">Signed in as {{ user.get_username }}</p>
    <a class="navbar-brand"> {% if user.is_authenticated %}
        {{ request.session.customer_name }}
    {% else %}
        OTM Rate Upload
    {% endif %}</a>
    <p><a href="{% url 'logout' %}">Logoff</a></p>
{% endblock %}