{% extends "rate/common/base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="mx-auto col-10 col-md-8 col-lg-6">
<form method="POST">
    {% csrf_token %}
    {% if error == True %}
    <div class="alert alert-danger" role="alert">
        {{ error_message }}
    </div>
    {% endif %}
    <br/>
    <label><b>Email: {{user_name}}</b></label>
    <br/><br/>
    <div class="form-group">
        <label>Password</label>
        <input type="password" id="password" name="password" class="form-control" required maxlength="20" aria-describedby="password_help">
        <small id="password_help" class="form-text text-muted">Min 8 characters containing upper case, lower case, number and special character</small>
    </div>
    <div class="form-group">
        <label>Retype Password</label>
        <input type="password" id="repassword" name="repassword" class="form-control" required maxlength="20"> 
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
<br/>

<p><a href="{% url 'manager-dashboard' request.session.customer_key%}">Return to Dashboard</a></p>
</div>
{% endblock %}

{% block header %}
    <p class="navbar-text">Signed in as {{ user.get_username }}</p>
    <a class="navbar-brand"> {% if user.is_authenticated %}
        {{ request.session.customer_name }}
    {% else %}
        OTM Rate Upload
    {% endif %}</a>
    <p><a href="{% url 'logout' %}">Logoff</a></p>
{% endblock %}