{% extends "rate/common/base.html" %}

{% block title %}Page not found!{% endblock %}

{% block navbar %}{% endblock %}
    
{% block content %}
<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <p class="fs-3"> <span class="text-danger">Opps!</span> Page not found.</p>
        <p class="lead">The page you're looking for doesn't exist.</p>
        <a href="{% url 'home' %}" class="btn btn-primary">Go Home</a>
    </div>
</div>
{% endblock %}